<!-- CRAP Skincare Fall 2021
Carol, Rachel, Allie, Peyton -->

<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <!-- for mobile-friendly pages -->
        <meta name="viewport" content="Carol Mai, Rachel Wu, Allie Chiou, Peyton Wang">
        <meta name=author content="">
        <title>CRAP Skincare</title>
        <link rel="stylesheet" href="https://rawgit.com/pbauerochse/searchable-option-list/master/sol.css">
        <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}" >
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap" rel="stylesheet">
    </head>

    {% block body_content %}
    {% endblock %}
</html>