<!-- CRAP Skincare Fall 2021
Carol, Rachel, Allie, Peyton -->

{% extends "product-base.html" %}
{% block content %}

<div class = "formPage">
<h1>Edit Your Profile!</h1>
<form class = "formFormat" id="edit_form" method="post" action="{{url_for('edit_profile', user_id= user.name_id)}}" enctype="multipart/form-data">
    <p><label>Name: <input type="text" name="name" value="{{name}}" ></label></p>
    <p><label>Skin Concern: <input type="text" name="skin_concern" value="{{skin_concern}}"></label></p>
    <p><label>Skin Type: <input type="text" name="skin_type" value="{{skin_type}}"></label></p>
    <p>
        <input style = "font-family: 'Nunito', sans-serif;" name = "edit" type="submit" value="edit">
    </p>
    <p>{% with messages = get_flashed_messages() %}
        {% if messages %}
        <div id="messages">
            {% for msg in messages %}
            <p>{{msg}}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}</p>
</form>
</div>

{% endblock %}